.skills {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.skills_top {
  display: flex;
  justify-content: space-between;
}

.skills_top_left {
  width: 50%;
  padding: 0 2rem;
  transform: translateY(-4rem);
}

.skills_top_right {
  width: 50%;
  padding: 0 2rem;
  transform: translateY(-4rem);
}

.skills_top_left div,
.skills_top_right div {
  display: flex;
  flex-direction: column;
}

.skills_top_left div label,
.skills_top_right div label {
  color: var(--slate);
  font-size: 1.6rem;
  margin: 5rem 0 1rem 0;
  font-weight: bold;
}

.range_background {
  width: 100%;
  height: 2px;
  background-color: var(--dark-slate);
  border-radius: 5px;
}

.range_background div {
  width: 50%;
  height: 2px;
  background-color: var(--aqua);
}

.skills_bottom {
  margin-top: 3rem;
}

.skills_bottom h2 {
  color: var(--slate);
  font-size: 2rem;
  margin-bottom: 2rem;
}

.skills_bottom_division {
  display: flex;
  justify-content: flex-start;
  gap: 10rem;
}

.skills_bottom li {
  list-style-type: disc;
  color: var(--aqua);
  margin: 1rem;
  font-size: 1.6rem;
}

/* for Tablets */
@media screen and (max-width: 768px) {
  .skills_top_left {
    padding: 0 1rem;
  }

  .skills_top_right {
    padding: 0 1rem;
  }
}

/* for Smart Phones  */
@media screen and (max-width: 480px) {
  .skills_top {
    flex-direction: column-reverse;
  }

  .skills_top_left,
  .skills_top_right {
    width: 100%;
    padding: 0;
  }

  .skills_bottom_division {
    flex-direction: column;
    gap: 0;
  }
}
